/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
@media only screen and (width >=60rem) {
  p,
  blockquote {
    max-width: var(--max-width-text);
  }
}

/* Page
--------------------------------------------------------------------------- */
.page {
  padding-bottom: var(--xl);

  @media only screen and (width >=60rem) {
    padding-left: var(--xl);
  }
}

/* Header
--------------------------------------------------------------------------- */
.header {
  padding: var(--s);
  padding-bottom: var(--fluid-space-l) !important;
  background-image: url("/assets/static-images/office-cn-bg.webp");
  background-position: center;
  background-size: cover;
  text-align: center;

  *{
    color: var(--darkest) !important;
  }

  @media only screen and (width >=60rem) {
    display: grid;
    align-items: center;
    padding: var(--l);
    padding-left: var(--xl);
    gap: var(--m);
    grid-template-columns: 200px 1fr;
    text-align: left;
  }

  a {
    border: none;

  }

  nav#main{
    a{
      display: inline-block;
      padding: var(--xs);
      background-color: var(--darkest) !important;
      color: var(--color-decoration) !important;
    }
    
  }

  .title {
    margin-bottom: var(--m);
    color: var(--color-title);
    font-size: var(--xl);
    font-weight: var(--fw-medium);
  }


  .subtitle,
  .subtitle a {
    font-size: var(--m);
    font-weight: 300;
  }

}

/* Section
--------------------------------------------------------------------------- */
.section {
  padding: var(--s);

  @media only screen and (width >=60rem) {
    padding: var(--l);
  }
}

/* Contact
--------------------------------------------------------------------------- */


/* Toc
--------------------------------------------------------------------------- */
.toc {
  &__item {
    max-width: var(--max-width-text);
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    border-top: solid 1px var(--color-seperator);
  }
}

/* Footer
--------------------------------------------------------------------------- */
.footer {
  padding: var(--s);
  padding-bottom: var(--xl);
  background-color: var(--dark);
  color: var(--lighter);

  .icon{
    padding-right: var(--xs);
  }

  ul li{
    margin-bottom: 0;
  }

  @media only screen and (width >=60rem) {
    padding: var(--xl);

    &>div {
      margin-left: var(--l);
    }
  }

  a {
    color: var(--lighter);
  }
}

/* Image Block
--------------------------------------------------------------------------- */

/* Content Block
--------------------------------------------------------------------------- */

/* Canvas
--------------------------------------------------------------------------- */
#canvas {
  width: 100vw;
  height: 600px;
}

/* Gallery
--------------------------------------------------------------------------- */
.gallery {
  display: grid;
  padding-top: var(--s);
  margin-bottom: var(--l);
  gap: var(--l);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .gallery-item {
    position: relative;
    overflow: hidden;

    &.is16by9 {
      aspect-ratio: 16/9;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
    }

    figcaption {
      padding-top: var(--xs);

      h3 {
        font-size: var(--m);
        font-weight: var(--fw-bold);
      }
    }

  }
}

/* Herotext
--------------------------------------------------------------------------- */
.herotext {
  font-size: var(--m);
  font-weight: var(--fw-normal);
  line-height: var(--lh-default);

  @media only screen and (width >=60rem) {
    font-size: var(--l);
    font-weight: var(--fw-normal);
  }
}

/* Page Title
--------------------------------------------------------------------------- */

.page-title {
  max-width: var(--max-width-text);
  font-size: var(--xl);
}

/* brutal
--------------------------------------------------------------------------- */
.brutal {
  margin-left: -1vw;
  color: var(--lighten);
  font-size: clamp(2em, calc(2em + 10vw), 20em);
  font-weight: 600;
}

.semi-brutal {
  margin-left: -1vw;
  color: var(--lighten-strong);
  font-size: clamp(1.2em, calc(2em + 5vw), 5em);
  font-weight: 600;
}

/* Tabelle
--------------------------------------------------------------------------- */
table {
  width: 100%;
  margin-bottom: var(--xl);
  table-layout: fixed;

  th,
  td {
    padding: var(--xxs);
    padding-right: var(--l);
    border-top: solid 1px var(--color-seperator);
    font-size: var(--m);
    line-height: var(--lh-default);
    text-align: left;
  }

  td {
    width: 240px;
    font-weight: var(--fw-light);
    text-align: right;
  }

  th {
    width: 80%;
    font-weight: var(--fw-medium);
  }

  tfoot {
    tr {
      th,
      td {
        font-weight: var(--fw-bold);
      }
    }
  }


}

/* Taglist
--------------------------------------------------------------------------- */
.taglist {
  margin-bottom: 0;

  &--linear {
    margin-top: var(--m);

    li {
      display: inline-block;
      padding-right: var(--s);
      margin-bottom: 0;
    }
  }

  &--small {
    font-size: calc(var(--m) * 0.8);

    a {
      border-bottom: none;
    }
  }

  &__item {
    &::before {
      color: var(--color-decoration);
      content: '#';
    }
  }
}

/* Avatar
--------------------------------------------------------------------------- */

.avatar-wrap{
  display: inline-block;
  overflow: hidden;
  border: solid var(--border-radius) transparent !important;
  border-radius: 50%;
  aspect-ratio: 1/1;

}

.avatar {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

/* Course Overview
--------------------------------------------------------------------------- */
.course-overview {
  display: grid;
  padding-top: var(--s);
  margin-bottom: var(--l);
  gap: var(--m) var(--m);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .course-item {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: var(--m) var(--m) var(--l) var(--m);
    background-color: var(--light);
    color: var(--dark);
    font-weight: var(--fw-light);
    transition: background-color var(--tr-fast);

    &:hover {
      background-color: var(--lightest);
      cursor: pointer;
    }

    a {
      color: var(--dark);
      font-weight: var(--fw-medium);
    }

    .course-item-headline a {
      border: none;
      color: var(--darker);
      font-weight: var(--fw-medium);
    }
  }
}

/* Feed Overview
--------------------------------------------------------------------------- */

.feed-overview{
  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    padding-top: var(--s);
    margin-bottom: var(--l);
  }

  .feed-content {
    display: grid;
    gap: var(--m) var(--m);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .feed-item {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--darker);
    color: var(--light);
    font-weight: var(--fw-light);
    transition: transform var(--tr-medium);

    &>* {
      transform: scale(0.5);
      transition: transform var(--tr-medium);
    }

    &:hover {
      &>* {
        transform: scale(1.0);
      }

      cursor: pointer;

      .info {
        padding: var(--xs) var(--m) var(--m) var(--m);
      }
    }

    a {
      color: var(--light);
      font-weight: var(--fw-medium);
    }

    .headline a {
      color: var(--darker);
      font-weight: var(--fw-bold);
    }

    .info {
      padding: var(--xs) 0 var(--m) 0;
      transition: padding var(--tr-fast);
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}

/* Image Stripe
--------------------------------------------------------------------------- */

.image-stripe {
  overflow: hidden auto;
  height: 100vh;

  &>img {
    display: block;
  }
}



/* Check it out
--------------------------------------------------------------------------- */
.check-it-out-overview {
  .item {
    margin-bottom: var(--l);

    blockquote+figcaption {
      margin-top: calc(var(--s) * -1);
      margin-bottom: var(--s);

      &::before {
        color: var(--lighten);
        content: "— ";
        font-weight: bold;
      }
    }

    a {
      border-width: var(--border-width-s);
      font-weight: 300;
    }
  }

  .item + .item {
    &::before {
      display: block;
      margin-bottom: var(--l);
      color: var(--green);
      content: ".";
      font-weight: bold;
    }
  }
}

/* Is Somewhere
--------------------------------------------------------------------------- */
.is-somewhere {
  @media only screen and (width >=60rem) {
    display: flex;
    padding-right: clamp(1em, 10vw, 20em);
    gap: var(--l);

    h2 {
      flex-grow: 1;
      text-align: right;
    }
  }
}

/* date
--------------------------------------------------------------------------- */

h2+.date {
  margin-top: calc(var(--m) * -1);
  font-weight: var(--fw-medium);
}


/* Outstanding Content
--------------------------------------------------------------------------- */

.outstanding {
  width: fit-content;
  padding: var(--l);
  border-radius: var(--border-radius);
  margin-top: var(--xl);
  background-color: var(--color-decoration);
  color: var(--lightest);
}

/* Book Overview
--------------------------------------------------------------------------- */
.book-overview {
  display: grid;
  padding-top: var(--s);
  margin-bottom: var(--l);
  gap: var(--m) var(--m);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .book-item {
    .book-img {
      display: block;
      padding: var(--s);
      border: none;
      background-color: var(--lighten);

      img {
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }

    h3 {
      margin-top: var(--s);
      font-weight: var(--fw-medium);
      line-height: var(--lh-default);
    }

    .tight-list {
      li {
        margin-bottom: 0;
        font-size: calc(var(--m) * 0.8);
        line-height: var(--lh-tight);
      }
    }

    .cta {
      font-size: calc(var(--m) * 0.8);
    }
  }
}

/* Featured
--------------------------------------------------------------------------- */

.featured {
  padding: var(--fluid-space-l);

  h3 {
    font-weight: var(--fw-medium);
  }
}


/* Columns
--------------------------------------------------------------------------- */

[data-columns="2"] {
  display: grid;
  row-gap: var(--m);

  @media only screen and (width >=60rem) {
    padding-top: var(--s);
    margin-bottom: var(--l);
    column-gap: var(--m);
    grid-template-columns: 1fr 1fr;
  }
}

/* Main Nav
--------------------------------------------------------------------------- */

nav#main {
  margin-top: 10vw;
  grid-column: span 2;

  ul {
    li {
      line-height: var(--lh-tight);

      a {
        display: block;
        color: var(--color-link);
        font-size: var(--l);
        line-height: var(--lh-tight);
      }
    }
  }

  @media only screen and (width >=60rem) {
    padding-left: var(--xl);

    ul {
      li {
        line-height: var(--lh-tight);

        a {
          display: inline-block;
          padding-right: 0.5ch;
          font-size: var(--xl);

          &::before {
            display: inline-block;
            padding-right: 0.25ch;
            color: var(--pink);
            content: "»";
            transition: all var(--tr-fast);
          }

          &:hover::before {
            padding-right: 0.5ch;
            padding-left: 0.5ch;
            color: var(--darker);
            transform: rotate(180deg);
          }
        }
      }
    }
  }

}

/* CTA
--------------------------------------------------------------------------- */

.cta {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: calc(0.8 * var(--s));
  border: 1px solid #18181a;
  background: var(--pink);
  color: #fff;
  cursor: pointer;
  line-height: var(--lh-tight);
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
}

.cta span:first-child {
  position: relative;
  z-index: 10;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 0.5);
}

.cta span:last-child {
  position: absolute;
  z-index: 100;
  top: 50%;
  bottom: 0;
  left: 50%;
  display: block;
  height: 12px;
  color: var(--pink);
  line-height: 26px;
  opacity: 0;
  transform: translateY(225%) translateX(-50%);
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
}

.cta::after {
  position: absolute;
  z-index: 50;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  transform: skewY(9.3deg) scaleY(0);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.cta:hover::after {
  transform: skewY(9.3deg) scaleY(2);
  transform-origin: bottom center;
}

.cta:hover span:last-child {
  opacity: 1;
  transform: translateX(-50%) translateY(-100%);
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


/* Grid List
--------------------------------------------------------------------------- */

.grid-list {
  dt {
    color: var(--green);
    font-weight: var(--fw-normal);

    &::after {
      content: "";
    }
  }



  @media screen and (width >=20rem) {
    display: grid;
    column-gap: var(--m);
    grid-template-columns: max-content 1fr;
  }
}
