/* stylelint-disable selector-class-pattern */


/* SDA
############################################################################ */

@keyframes scale-rotate-in {
  from {
    opacity: 0;
    transform: scale(0) rotate3d(1,1,0, 90deg);
  }

  to {
    opacity: 1; 
    transform: scale(1);
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1; 
    transform: scale(1);
  }
}

.herotext, 
.check-it-out__item,
.course-overview__item,
.feed__item,
.book,
.header > *{
  /* Attach animation, linked to the  View Timeline */
  animation-name: scale-rotate-in;
    
  /* Tweak range when effect should run */
  animation-range: entry 0% cover 50%;
  animation-timeline: --appear-in-viewport;
  animation-timing-function: linear;

  /* Create View Timeline */
  view-timeline-name: --appear-in-viewport;
}

.gallery__item {
  /* Attach animation, linked to the  View Timeline */
  animation-name: zoom-in;
    
  /* Tweak range when effect should run */
  animation-range: entry 0% cover 50%;
  animation-timeline: --appear-in-viewport;
  animation-timing-function: linear;

  /* Create View Timeline */
  view-timeline-name: --appear-in-viewport;
}

/* View Transitions
############################################################################ */

@view-transition {
  /* stylelint-disable-next-line CssSyntaxError */
  navigation: auto; /* [auto | none] */
}

@keyframes move-out {
  from {
    transform: translateX(0%) scale(1);
  }

  to {
    transform: translateX(-100%) scale(0.2);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%) scale(0.2);
  }

  to {
    transform: translateX(0%) scale(1);
  }
}

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}