.text{
  max-width: 120ch;
  padding-right: var(--xxl);

  .herotext{
    margin-top: var(--xl);
    margin-bottom: var(--xxl);
    color: var(--color-hero);
  }

  ul{
    li{
      margin-left: 2ch;

      &::before{
        display: inline-block;
        width: 1.5ch;
        padding-right: 0.5ch;
        margin-left: -2ch;
        color: var(--green);
        content: "»";
      }
    }

    padding-bottom: var(--l);
  }

  ol{
    li{
      margin-bottom: var(--s);
    }

    padding-bottom: var(--l);
  }

  .block{
    margin-bottom: var(--l);
  }

  p{
    margin-bottom: var(--m);
  }

  hr{
    border: none;
    border-top: dotted var(--green) 3px;
    margin-top: var(--xl);
    margin-bottom: var(--xl);
    background-color: transparent;
  }

  h2{
    font-size: var(--xl);
  }

  h3{
    margin-bottom: var(--l);
    font-size: var(--l);
    font-weight: var(--fw-normal);
  }

  h4{
    padding-top: var(--s);
  }

  .date{
    font-size: var(--m);
  }

  a{
    font-weight: var(--fw-medium);
  }

}

/* Playground
###################################################################################### */

.layout-playground{
  figure{
    padding-right: var(--xl);

    img + img{
      padding-top: var(--fluid-space-m);
    }
  }

  .darken{
    mix-blend-mode: darken;
  }
}

/* Vita Filter
###################################################################################### */

.filter{
  display: inline-flex;
  gap: var(--xs);

  .filter-button, .filter-button:active, .filter-button:focus{
    padding: var(--xxs) var(--xs);
    border: solid 2px var(--lighten);
    border-radius: var(--border-radius);
    color: var(--color-interaction);
    font-size: var(--m);
    transition: all var(--tr-fast);

    &:hover{
      border-color: var(--color-decoration);
      cursor: pointer;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &:active, &.is-active{
      background-color: var(--color-decoration);
    }
  }
  
}

.filter-items{
  & > * {
    overflow: hidden;
    max-height: 20rem;
    margin-bottom: var(--xs);
    transition: max-height var(--tr-medium) ease-in-out, margin var(--tr-medium) ease-in-out;
  }

  .is-hidden{
    max-height: 0;
    margin-bottom: 0;
  }
}

.vita{
  .vita-item-title{
    text-align: right;
  }

  .vita-item-data{
    font-weight: var(--fw-normal);
  }

  .vita-text{
    overflow: hidden;
    max-height: 0;
  }
}

/* Mindmap
###################################################################################### */

.mindmap{
  padding: var(--m);
  height: 100vh;

  .title{
    font-size: var(--m);
    font-weight: var(--fw-bold);
    border-bottom: solid 1px var(--color-decoration);
    padding-bottom: var(--xs);
  }

  .subtitle{
    font-size: var(--s);
    font-weight: var(--fw-normal);

  }

  .svg-canvas{
    width: 100%;
    height: 100%;
    flex-grow: 2;
  }

  main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
}