:root {
  /* Sizes using Lucas Numbers */
  --faktor: 1.1;
  --xxs: calc(4px * var(--faktor));
  --xs: calc(7px * var(--faktor));
  --s: calc(11px * var(--faktor));
  --m: calc(18px * var(--faktor));
  --l: calc(29px * var(--faktor));
  --xl: calc(47px * var(--faktor));
  --xxl: calc(76px * var(--faktor));

  /* Font Properties */
  --font-family-serif: 'FiraItalic', 'Courier New', monospace;
  --font-family-sans: fira, sans-serif;
  --base-font-size: var(--m);
  --font-icons: 'Material Icons';

  /* Font Weights */
  --fw-light: 200;
  --fw-normal: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Line Heights */
  --lh-tight: 110%;
  --lh-default: 140%;
  --lh-loose: 150%;

  /* Base Colors */
  --tile-color: #8C775E;
  --steingrau: hsl(42deg 3% 55% / 60%);
  --lichtgrau: hsl(100deg 3% 77% / 100%);
  --hellgrau: #BBBAB7;
  --blaugrau: #82899A;
  --pink: #d16;
  --green: #10CFA3;
  --light: hsl(0deg 0% 70% / 100%);
  --lighter: hsl(0deg 0% 80% / 100%);
  --lightest: hsl(0deg 0% 100% / 100%);
  --lighten: rgb(255 255 255 / 20%);
  --lighten-strong: rgb(255 255 255 / 60%);
  --dark: hsl(0deg 0% 10% / 100%);
  --darker: #000;
  --darkest: #000;
  --darken: rgb(0 0 0 / 20%);
  --darken-strong: rgb(0 0 0 / 60%);

  /* Functional Colors */
  --color-interaction: var(--lighter);
  --color-decoration: var(--pink);
  --color-text: var(--light);
  --color-headline: var(--light);
  --color-headline-light: var(--lighter);
  --color-aside: var(--lichtgrau);
  --color-border: var(--lichtgrau);
  --color-seperator: var(--light);
  --color-background: var(--dark);
  --color-title: var(--light);
  --color-lighten: var(--lighten);
  --color-links: var(--lighten);
  --color-hero: var(--green);
  

  /* Transitions */
  --tr-fast: 0.2s;
  --tr-medium: 0.6s;
  --tr-slow: 1s;

  /* Opacities */
  --op-strong: 0.75;
  --op-medium: 0.5;

  /* Viewports */
  --vp-small: 688px;
  --vp-medium: 800px;
  --vp-large: 1100px;
  --vp-xlarge: 1400px;
  --shadow-m: 0 0 10px rgb(0 0 0 / 20%);

  /* Fluid Spaces */
  --section-space: calc(var(--m) + 10vw);
  --fluid-space-xs: 1vw;
  --fluid-space-s: 2vw;
  --fluid-space-m: 4vw;
  --fluid-space-l: 8vw;
  --fluid-space-xl: 16vw;


  /* Misc */
  --bw: 2px;
  --text-shadow: 0 0 20px rgb(0 0 0 / 90%);
  --max-width-content: 50rem;
  --max-width-text: var(--vp-large);
  --aside-width: 20rem;
  --border-width: 2px;
  --border-width-s: 1px;
  --border-radius: 4px;
}